body {
    background: #61665D;
    color: #1A171B;
    font-family: serif;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 15px;
    padding-top:4em ;
}

.grid-item {
    padding: 20px;
}

h2 {
    text-align: center;
}

nav {
    background: rgba(240, 241, 241, 0.75);
    height: 2.8em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.stat {
    width: 22rem;
    height: 13rem;
}

.logo {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: .5em;
}

li {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
}

li a {
    text-decoration: none;
    color: #1A171B;
}

.rightalign {
    float: right;
    margin-right: 1em;
}

article {
    border-radius: 0.9em;
    background: rgba(240, 241, 241, 0.75);
    padding: .5em;
}

.hpstat {
    width: 27.1875rem;
    height: 21.875rem;
}

.fpstat {
    width: 27.1875rem;
    height: 21.875rem;
}

.hpinf {
    width: 27.1875rem;
    height: 21.875rem;
}

.fpinf {
    width: 27.1875rem;
    height: 21.875rem;
}