body {
    background: #61665D;
    color: #1A171B;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 3em;
    padding-top:5em;
}

.grid-item {
    padding: 1.2em;
}

h2 {
    text-align: center;
    font-weight: 700;
}

h3{
    text-align: center;
    font-weight: 700;
}
nav {
    background: rgba(240, 241, 241, 0.75);
    height: 2.8em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

.stat {
    width: 22rem;
    height: 13rem;
    align-items: center;
}

.logo {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: .5em;
}

li {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
    border-left: 1px solid;
}

li a {
    text-decoration: none;
    color: #1A171B;
}

.rightalign {
    float: right;
    margin-right: 1.2em;
}

article {
    position: relative;
    border-radius: 0.9em;
    background: rgba(240, 241, 241, 0.75);
    padding: .5em;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
}

.hpstat {
    width: 27rem;
    height: 21rem;
}

.fpstat {
    width: 27rem;
    height: 21rem;
}

.hpinf {
    width: 27rem;
    height: 15rem;
}

.fpinf {
    width: 27rem;
    height: 15rem;
}

.calc-btn{
    background-color:#598649;
    border: 1px solid;
    border-radius: 2em;
    border-color: #598649;
    box-shadow: 0px 6px 15px 0px rgba(89, 134, 73, 0.55);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 22em;
    left: 10em;
}